<%= form_for([@article, @article.comments.build]) do |f| %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
