<div class="col-sm-10 blog-post">
  <div class="blog-info">
    <hr>
    <h1 id="blog-title"><%= @article.title %> <small>- <a href="<%= user_articles_path(@article.user_uuid) %>"><%= @article.user.name %></a></small></h1>
    <hr>

    <h5 id="blog-time"><span class="glyphicon glyphicon-time"></span>
      Posted on: <%=@article.created_at.strftime("%B %d, %Y at %I:%M%p")%> |
      <% if current_user && current_user.id.to_s == @article.user_id %>
        <%= link_to 'Delete', article_path(@article.uuid), method: :delete,data: {confirm: "Are you sure?"} %> |
        <%= link_to 'Edit', edit_article_path(@article.uuid) %>
      <% end %>
    </h5>
    <hr>
    <h3 id="blog-about"><%= @article.about %> </h3>
    <br>
    <p id="blog-text"><%= @article.text %> </p>
    <br>

    <div class=blog-comments>
      <%= render @article.comments %>
      <% unless current_user == nil %>
        <%= render 'comments/form' %>
      <% end %>
    </div>
  </div>
</div>
