


<div class="col-sm-10 blog-post">
  <div class="blog-info">
    <hr>
    <h1 id="blog-title"><%= @article.title %></h1>
    <hr>
    <h5 id="blog-time"><span class="glyphicon glyphicon-time"></span>
      Posted on: <%=@article.created_at.strftime("%B %d, %Y at %I:%M%p")%> |
      <% if current_user %>
        <%= link_to 'Delete', article_path(@article), method: :delete,data: {confirm: "Are you sure?"} %> | 
        <%= link_to 'Edit', edit_article_path(@article) %>
      <% end %>
    </h5>
    <hr>
    <h3 id="blog-about"><%= @article.about %> </h3>
    <br>
    <p id="blog-text"><%= @article.text %> </p>
    <br>

    <div class=blog-comments>
      <%= render @article.comments %>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>
