


<div class="col-sm-10 blog-post">
  <div class="blog-info">
    <hr>
    <h1 id="blog-title"><%= @article.title %></h1>
    <hr>
    <h5 id="blog-time"><span class="glyphicon glyphicon-time"></span>
      Posted on: <%=@article.created_at.strftime("%B %d, %Y at %I:%M%p")%> |
      <%= link_to 'Edit', edit_article_path(@article) %>
    </h5>
    <hr>
    <h3 id="blog-about"><%= @article.about %> </h3>
    <br>
    <p id="blog-text"><%= @article.text %> </p>
    <br>

    <div class="well">
      <h4>Leave a Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3"></textarea>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <br>

    <div class=blog-comments>
        <%= render @article.comments %>
    </div>
  </div>
</div>
