<!DOCTYPE html>
<html>
  <head>
    <title>Forum - Home Page</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1000px}

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
  </head>

  <body id="everything">
    <div class="jumbotron">
      <div class="text-right">
        <% if !current_user %>
          <a href="<%= '/auth/google' %>">Sign-in</a>
        <% else %>
          <a href="<%= '/logout' %>">Sign-out</a>
        <% end %>
      </div>
      <div class="text-center">
        <h1 id="title">Best Forum NA</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row content">
      <!--Side Bar -->
        <div class="col-sm-2 sidenav">
          <h4>
            Signed-in:
            <% if current_user %>
              <%= current_user.name %>
            <%else %>
              No one
            <% end %>
          </h4>

          <ul class="list-group sidebar">
            <a href="<%= articles_path %>" class="list-group-item list-group-item-action-primary">Home</a>
            <% if current_user %>
              <a href="<%= new_article_path %>" class="list-group-item list-group-item-action">New Post</a>
              <a href="<%= user_articles_path(current_user.id) %>" class="list-group-item list-group-item-action">My Posts</a>
            <% end %>
            <a href="https://github.com/piercedejong/Blog---Ruby" class="list-group-item list-group-item-action" target="_blank"> GitHub </a>
          </ul>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Blog...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </div>
        <%= yield %>
      </div>
    </div>

    <footer class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </footer>

  </body>
</html>
